@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row" id="print">
                <OBJECT ID='WebBrowser' NAME="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID='CLSID:8856F961-340A-11D0-A96B-00C04FD705A2'></OBJECT>
                <img style='' src='data:image/png;base64,${item.receiptsBase64Img}'>
            </div>


        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/main/receiptsInfo/receiptsInfo_info.js"></script>
@}
