<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.IntegralrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Integralrecord">
        <id column="id" property="id" />
        <result column="integral" property="integral" />
        <result column="target" property="target" />
        <result column="typeId" property="typeId" />
        <result column="memberid" property="memberid" />
        <result column="createTime" property="createTime" />
        <result column="deptid" property="deptid" />
        <result column="clearid" property="clearid" />
        <result column="staffid" property="staffid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, integral, target, typeId, memberid, createTime
    </sql>


</mapper>
