<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.IntegralrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Integralrecord">
        <id column="id" property="id"/>
        <result column="integral" property="integral"/>
        <result column="target" property="target"/>
        <result column="typeId" property="typeId"/>
        <result column="otherTypeId" property="otherTypeId"/>
        <result column="integralType" property="integralType"/>
        <result column="memberid" property="memberid"/>
        <result column="createTime" property="createTime"/>
        <result column="deptid" property="deptid"/>
        <result column="clearid" property="clearid"/>
        <result column="staffid" property="staffid"/>
        <result column="duihuanproductNum" property="duihuanproductNum"/>
        <result column="status" property="status"/>
        <result column="payMoney" property="payMoney"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, integral, target, typeId, otherTypeId, integralType, memberid, createTime, deptid, clearid,staffid
    </sql>
	<!--商品销量排名分页查询-->
	<select id="productSalesRanking" resultType="map">
		SELECT
		a.InventoryCode,
		a.productname,
		a.producttype,
		a.productnum,
		sum(b.consumptionNum) count,a.deptid
		FROM `main_integralrecordtype` a
		inner join main_inventory_management b on b.integralrecordtypeid=a.id
		where  a.producttype=1 and b.memberName!=''
		<if test="deptId != null and deptId != 53">
			and b.deptid=#{deptId}
		</if>
		GROUP BY a.InventoryCode
		order by count desc
		limit #{pageNum},#{pageSize}
	</select>

	<select id="productSalesRankingCount" resultType="map">
		SELECT
		a.productname,
		a.producttype,
		a.productnum,
		sum(b.consumptionNum) count,a.deptid
		FROM `main_integralrecordtype` a
		inner join main_inventory_management b on b.integralrecordtypeid=a.id
		where  a.producttype=1 and b.memberName!=''
		<if test="deptId != null and deptId != 53">
			and b.deptid=#{deptId}
		</if>
		GROUP BY a.InventoryCode
		order by count desc
	</select>
	<select id="duihuanTableData" resultType="map">
		select b.productname,b.productnum,d.fullname ,sum(a.duihuanproductNum) num ,a.status from main_integralrecord a
		INNER JOIN main_integralrecordtype b on b.id=a.typeid
		INNER JOIN sys_dept d on d.id=a.deptid
		WHERE 1=1 and
		a.deptid in(${deptId})

		<if test="periodTime1 != null and periodTime1 != '' and periodTime2 != null and periodTime2 != ''">
			and (a.createTime between CONCAT(#{periodTime1},' 00:00:00') and CONCAT(#{periodTime2},' 23:59:59'))
		</if>
		<if test="status != null and status != 0">
			and a.status=#{status}
		</if>
		<if test="status != null and status == 0">
			and (a.status=1 or a.status=2)
		</if>
		GROUP BY b.productname,d.fullname
		<if test="status != null and status != 0">
			,a.status
		</if>
		order by num desc


	</select>
	<select id="duihuanTableDataCount" resultType="java.lang.Integer">
		select count(*) from
		(
		select b.productname,d.fullname ,sum(a.duihuanproductNum) num ,a.status from main_integralrecord a
		INNER JOIN main_integralrecordtype b on b.id=a.typeid
		INNER JOIN sys_dept d on d.id=a.deptid
		WHERE 1=1 and
		a.deptid in(${deptId})

		<if test="periodTime1 != null and periodTime1 != '' and periodTime2 != null and periodTime2 != ''">
			and (a.createTime between CONCAT(#{periodTime1},' 00:00:00') and CONCAT(#{periodTime2},' 23:59:59'))
		</if>
		<if test="status != null and status != 0">
			and a.status=#{status}--
		</if>
		<if test="status != null and status == 0">
			and (a.status=1 or a.status=2)
		</if>
		GROUP BY b.productname,d.fullname
		<if test="status != null and status != 0">
			,a.status
		</if>
		) as dd
	</select>
</mapper>
