<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.InventoryManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.InventoryManagement">
        <id column="id" property="id" />
        <result column="createtime" property="createtime" />
        <result column="createuserid" property="createuserid" />
        <result column="deptid" property="deptid" />
        <result column="integralrecordtypeid" property="integralrecordtypeid" />
        <result column="status" property="status" />
        <result column="memberid" property="memberid" />
        <result column="consumptionNum" property="consumptionNum" />
        <result column="name" property="name" />
        <result column="memberName" property="memberName" />
        <result column="memberPhone" property="memberPhone" />
        <result column="integralid" property="integralid" />
        <result column="clearid" property="clearid" />
        <result column="isDueToRemind" property="isDueToRemind" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createtime, createuserid, deptid, integralrecordtypeid, status, memberid, consumptionNum, name, memberName, memberPhone, integralid, clearid, isDueToRemind
    </sql>
<!--追销查询-->
    <select id="findAfterPinListMap" resultType="java.util.Map">
        SELECT
        DATEDIFF(now(), a.createtime)  dlff, (a.consumptionNum*c.producteatingdose) sumday,((a.consumptionNum*c.producteatingdose)-DATEDIFF(now(), a.createtime)) poorDays,
        a.*
        FROM
        main_inventory_management a
        INNER JOIN main_due_to_remind b ON b.productId = a.integralrecordtypeid
        INNER JOIN main_integralrecordtype c on c.id=b.productId
        WHERE
        b.`status` = 0
        AND a.isDueToRemind = 1
        and a.memberid=#{memberId}
        and ((a.consumptionNum*c.producteatingdose)-DATEDIFF(now(), a.createtime))<![CDATA[ <= ]]> b.dueToRemindDays
    </select>
</mapper>
