<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.VerificationCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.VerificationCode">
        <id column="id" property="id" />
        <result column="verificationcode" property="verificationcode" />
        <result column="createlongtime" property="createlongtime" />
        <result column="phone" property="phone" />
        <result column="deptid" property="deptid" />
        <result column="status" property="status" />
        <result column="memberid" property="memberid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, verificationcode, createlongtime, phone, deptid, status, memberid
    </sql>

</mapper>
