@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="integralrecordInfoTable">
<input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="productId">
            <input type="hidden" id="temp_status" value="${item.status}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="productName" name="商品名称" value="${item.productName}" underline="true"/>
                            <#input id="dueToRemindDays" name="到期提醒天数" value="${item.dueToRemindDays}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="dueToRemindContext" name="提示信息" value="${item.dueToRemindContext}" underline="true"/>
                            <#select id="status" name="活动规则" underline="true">
                            <option value="0">可用</option>
                            <option value="1">停用</option>
                        </#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DueToRemindInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DueToRemindInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/main/dueToRemind/dueToRemind_info.js"></script>
<script>
    $("#status").val($("#temp_status").val())
</script>
@}
