<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Guns - 404 页面</title>
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">


<div class="middle-box text-center">
    <h1>404</h1>
    <h3 class="font-bold">页面未找到！</h3>

    <div class="error-desc">
        抱歉，页面好像去火星了~
        <form class="form-inline m-t" role="form">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="请输入您需要查找的内容 …">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
</div>

<!-- 全局js -->
<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>

</body>
<script>
    [{
        "Code": "6923750400965",
        "Name": "婴养早安牙膏",
        "Specification": "90g",
        "DefaultBarCode": null
    }, {
        "Code": "6923750400828",
        "Name": "易佳宁洗发水",
        "Specification": "200ml",
        "DefaultBarCode": null
    }, {
        "Code": "6923750400347",
        "Name": "龙脑蚕丝面膜",
        "Specification": "5张",
        "DefaultBarCode": null
    }, {
        "Code": "6933051300512",
        "Name": "六宫粉黛阿胶糕",
        "Specification": "300g/盒",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301289",
        "Name": "富硒燕麦仁",
        "Specification": "315g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301265",
        "Name": "富硒小米",
        "Specification": "350g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301296",
        "Name": "富硒黑豆",
        "Specification": "330g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301258",
        "Name": "富硒红米",
        "Specification": "355g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926300473",
        "Name": "富硒糙米",
        "Specification": "350g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301241",
        "Name": "富硒黑米",
        "Specification": "350g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301319",
        "Name": "富硒红豆",
        "Specification": "350g",
        "DefaultBarCode": null
    }, {
        "Code": "6970073857198",
        "Name": "乐其仕纯羊奶",
        "Specification": "400g",
        "DefaultBarCode": null
    }, {
        "Code": "6970073855743",
        "Name": "乐其仕配方奶（钻石）",
        "Specification": "300g",
        "DefaultBarCode": null
    }, {
        "Code": "6970073850564",
        "Name": "乐其仕配方奶（180G）",
        "Specification": "180g",
        "DefaultBarCode": null
    }, {
        "Code": "6971171080129",
        "Name": "冷榨亚麻籽油",
        "Specification": "500ml*2",
        "DefaultBarCode": null
    }, {
        "Code": "6932926300725",
        "Name": "富硒灰藜麦",
        "Specification": "350g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301104",
        "Name": "富硒薏仁",
        "Specification": "350g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926300442",
        "Name": "富硒红麦仁",
        "Specification": "330g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301326",
        "Name": "富硒玉米渣",
        "Specification": "330g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926300411",
        "Name": "富硒黄豆",
        "Specification": "275g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926300428",
        "Name": "富硒紫米",
        "Specification": "375g",
        "DefaultBarCode": null
    }, {
        "Code": "6932926301302",
        "Name": "富硒绿豆",
        "Specification": "350g",
        "DefaultBarCode": null
    }, {"Code": "6932926301333", "Name": "富硒黑小米", "Specification": "350g", "DefaultBarCode": null}, {
        "Code": "20180001",
        "Name": "新疆无花果",
        "Specification": "500g/袋",
        "DefaultBarCode": null
    }, {"Code": "20180002", "Name": "新疆香妃王葡萄干", "Specification": "500g/袋", "DefaultBarCode": null}, {
        "Code": "20180003",
        "Name": "新疆巴旦木",
        "Specification": "500g/袋",
        "DefaultBarCode": null
    }, {"Code": "20180004", "Name": "新疆特产混合款", "Specification": "1kg/袋", "DefaultBarCode": null}, {
        "Code": "20180005",
        "Name": "新疆红枸杞干",
        "Specification": "250g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "20180006",
        "Name": "新疆大枣",
        "Specification": "500g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6924069600213",
        "Name": "庄子精品大蒜醋（瓶）",
        "Specification": null,
        "DefaultBarCode": null
    }, {
        "Code": "6937027700191",
        "Name": "蜂巢蜜礼盒",
        "Specification": "500g",
        "DefaultBarCode": null
    }, {
        "Code": "6937027700481",
        "Name": "婴养早安土蜂蜜",
        "Specification": "150g",
        "DefaultBarCode": null
    }, {"Code": "201811003", "Name": "优质巴旦木（散）", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "201811004",
        "Name": "红马奶子葡萄干",
        "Specification": "",
        "DefaultBarCode": ""
    }, {"Code": "697007385001", "Name": "原味羊奶片", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "697007385002",
        "Name": "草莓羊奶片",
        "Specification": "",
        "DefaultBarCode": ""
    }, {
        "Code": "697007385004",
        "Name": "婴养早安高钙配方奶粉",
        "Specification": "",
        "DefaultBarCode": ""
    }, {"Code": "69252580003", "Name": "小兵坚果AB礼盒", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "69252580004",
        "Name": "兵团大地薄皮核桃",
        "Specification": "",
        "DefaultBarCode": ""
    }, {"Code": "69252580005", "Name": "新疆大枣", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "69252580006",
        "Name": "新疆香妃王葡萄干",
        "Specification": "",
        "DefaultBarCode": ""
    }, {"Code": "69252580007", "Name": "兵团大地女人香", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "69252580008",
        "Name": "兵团大地原味巴旦木",
        "Specification": "",
        "DefaultBarCode": ""
    }, {"Code": "69252580009", "Name": "婴养早安土蜂蜜", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "69386022002",
        "Name": "六宫粉黛阿胶糕",
        "Specification": "",
        "DefaultBarCode": ""
    }, {"Code": "69386022003", "Name": "五谷杂粮", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "69386022004",
        "Name": "营养早安牙膏",
        "Specification": "",
        "DefaultBarCode": ""
    }, {
        "Code": "6971245040820",
        "Name": "婴养早安全脂纯羊奶",
        "Specification": "320g(16*20g)",
        "DefaultBarCode": null
    }, {
        "Code": "6971245040837",
        "Name": "婴养早安高钙配方奶粉",
        "Specification": "300g(15*20g)",
        "DefaultBarCode": null
    }, {
        "Code": "6938602205537",
        "Name": "原味羊奶片",
        "Specification": "10板/盒",
        "DefaultBarCode": null
    }, {
        "Code": "6938602205544",
        "Name": "草莓羊奶片",
        "Specification": "10板/盒",
        "DefaultBarCode": null
    }, {
        "Code": "6923750400989",
        "Name": "婴养早安洗手液",
        "Specification": "500ml/瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6923750400972",
        "Name": "婴养早安洗衣液",
        "Specification": "1L/瓶",
        "DefaultBarCode": null
    }, {
        "Code": "20180015",
        "Name": "婴养早安羊奶皂",
        "Specification": "95g/盒",
        "DefaultBarCode": null
    }, {
        "Code": "6932926300565",
        "Name": "富硒五谷杂粮",
        "Specification": "180g/袋",
        "DefaultBarCode": null
    }, {"Code": "20180011", "Name": "新疆大枣", "Specification": "散装", "DefaultBarCode": null}, {
        "Code": "20180012",
        "Name": "新疆核桃",
        "Specification": "散装",
        "DefaultBarCode": null
    }, {"Code": "20180016", "Name": "红马奶子葡萄干", "Specification": "散装", "DefaultBarCode": null}, {
        "Code": "20180017",
        "Name": "优质巴旦木",
        "Specification": "散装",
        "DefaultBarCode": null
    }, {
        "Code": "6924069699316",
        "Name": "庄子一级菜籽油",
        "Specification": "5L*1*4桶",
        "DefaultBarCode": null
    }, {
        "Code": "6924069600398",
        "Name": "庄子一级葵油",
        "Specification": "5L*1*4桶",
        "DefaultBarCode": null
    }, {
        "Code": "6924069601043",
        "Name": "庄子四级菜籽油",
        "Specification": "5L*1*4桶",
        "DefaultBarCode": null
    }, {
        "Code": "20180007",
        "Name": "蓝盒民族团结大礼包",
        "Specification": "1*盒",
        "DefaultBarCode": null
    }, {
        "Code": "6924069600152",
        "Name": "(1*4)5升胡麻油",
        "Specification": "5L*1桶",
        "DefaultBarCode": null
    }, {
        "Code": "20180021",
        "Name": "庄子精品黑加仑醋",
        "Specification": "488ml*1*6瓶",
        "DefaultBarCode": null
    }, {
        "Code": "20180008",
        "Name": "庄子精品黑加仑醋礼盒（6瓶）",
        "Specification": "488ml*1*6瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6924069699200",
        "Name": "庄子精品红花醋（6瓶礼盒）",
        "Specification": "488ml*1*6瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6924069600824",
        "Name": "庄子精品红花酱油（精品礼盒）",
        "Specification": "488ml*1*6瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6924069699217",
        "Name": "庄子精品红花醋（3瓶礼盒）",
        "Specification": "488ml*1*3瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6924069601203",
        "Name": "庄子陈醋（瓶）",
        "Specification": "488ml*1*12瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6924069600046",
        "Name": "庄子精品苦荞醋礼盒 （特殊营养）",
        "Specification": "488ml*1*6瓶",
        "DefaultBarCode": null
    }, {
        "Code": "20180030",
        "Name": "庄子饺子醋",
        "Specification": "488ml*1*12瓶",
        "DefaultBarCode": null
    }, {"Code": "20180009", "Name": "庄子坛蒜", "Specification": "1*12盒", "DefaultBarCode": null}, {
        "Code": "6946278104283",
        "Name": "兵团大地黄珍珠",
        "Specification": "180g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000081",
        "Name": "r兵团大地女人香",
        "Specification": "180g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6946278104207",
        "Name": "兵团大地薄皮核桃",
        "Specification": "400g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000142",
        "Name": "兵团大地原味巴旦木",
        "Specification": "210g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000173",
        "Name": "兵团大地吊树干杏",
        "Specification": "240g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6925258011230",
        "Name": "r兵团老农若羌灰枣一级",
        "Specification": "500g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000630",
        "Name": "兵团大地去核即食枣",
        "Specification": "180g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000692",
        "Name": "兵团大地灰枣二级夹核桃仁",
        "Specification": "260g/袋",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000272",
        "Name": "r光辉岁月小礼盒",
        "Specification": "2400g/盒",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000951",
        "Name": "小兵坚果A礼盒",
        "Specification": "750g/箱",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000968",
        "Name": "小兵坚果B礼盒",
        "Specification": "750g/箱",
        "DefaultBarCode": null
    }, {
        "Code": "6925258000975",
        "Name": "小兵坚果AB礼盒",
        "Specification": "750g/箱",
        "DefaultBarCode": null
    }, {
        "Code": "6937027700146",
        "Name": "正枇杷蜜",
        "Specification": "420g/瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6937027700207",
        "Name": "高山土蜂蜜",
        "Specification": "500g/瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6937027700023",
        "Name": "高山枇杷蜜",
        "Specification": "500g/瓶",
        "DefaultBarCode": null
    }, {
        "Code": "6937027700184",
        "Name": "成熟洋槐蜜",
        "Specification": "500g/瓶",
        "DefaultBarCode": null
    }, {"Code": "201811001", "Name": "新疆大枣（散）", "Specification": "", "DefaultBarCode": ""}, {
        "Code": "201811002",
        "Name": "新疆核桃（散）",
        "Specification": "",
        "DefaultBarCode": ""
    }, {
        "Code": "6932926300756",
        "Name": "富硒大米(大）",
        "Specification": "2.5kg",
        "DefaultBarCode": null
    }, {"Code": "6932926300084", "Name": "富硒大米（小）", "Specification": "500g", "DefaultBarCode": null}]
    var a = {
        "dto": {
            "BusiType": {"Code": "15"},
            "Warehouse": {"Code": "002"},
            "VoucherDate": "2019-02-01",
            "Customer": {"Code": "0010001"},
            "RDRecordDetails": [{"BaseQuantity": 1.00, "Code": "0001", "Inventory": {"Code": "6923750400828"}}],
            "Code": "10002",
            "Partner": {"Code": "001"},
            "Memo": "测试",
            "ExternalCode": "10001",
            "VoucherType": {"Code": "ST1021"}
        }
    }
</script>
</html>
