@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="names" name="积分类型" underline="true"/>
                            <#input id="productname" name="产品名称" underline="true"/>
                            <#input id="producttype" name="产品类别(0礼品类、1积分兑换类、2销售类、3积分+金额类)" underline="true"/>
                            <#input id="productspecification" name="产品规格" underline="true"/>
                            <#input id="productnum" name="产品数量" underline="true"/>
                            <#input id="productbalance" name="产品结余"/>
                </div>

                <div class="col-sm-6">
                            <#input id="productjifen" name="产品积分" underline="true"/>
                            <#input id="producteatingdose" name="食用剂量(,号隔开)" underline="true"/>
                            <#input id="deptid" name="" underline="true"/>
                            <#input id="createtime" name="" underline="true"/>
                            <#input id="updatetime" name="" underline="true"/>
                            <#input id="createuserid" name="" underline="true"/>
                            <#input id="updateuserid" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="IntegralrecordtypeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="IntegralrecordtypeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/main/integralrecordtype/integralrecordtype_info.js"></script>
@}
