@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="names" name="积分类型" value="${item.names}" underline="true"/>
                            <#input id="productname" name="产品名称" value="${item.productname}" underline="true"/>
                            <#input id="producttype" name="产品类别(0礼品类、1积分兑换类、2销售类、3积分+金额类)" value="${item.producttype}" underline="true"/>
                            <#input id="productspecification" name="产品规格" value="${item.productspecification}" underline="true"/>
                            <#input id="productnum" name="产品数量" value="${item.productnum}" underline="true"/>
                            <#input id="productbalance" name="产品结余" value="${item.productbalance}" />
                </div>

                <div class="col-sm-6">
                            <#input id="productjifen" name="产品积分" value="${item.productjifen}" underline="true"/>
                            <#input id="producteatingdose" name="食用剂量(,号隔开)" value="${item.producteatingdose}" underline="true"/>
                            <#input id="deptid" name="" value="${item.deptid}" underline="true"/>
                            <#input id="createtime" name="" value="${item.createtime}" underline="true"/>
                            <#input id="updatetime" name="" value="${item.updatetime}" underline="true"/>
                            <#input id="createuserid" name="" value="${item.createuserid}" underline="true"/>
                            <#input id="updateuserid" name="" value="${item.updateuserid}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="IntegralrecordtypeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="IntegralrecordtypeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/main/integralrecordtype/integralrecordtype_info.js"></script>
@}
